{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
      <div class="col">
          <h1>This is Home Page</h1>
          <p>Welcome to Home page</p>
          <p>
              To check your ip address, visit <a href="/about">About Page</a>
          </p>
      </div>
  </div>
</div>
{{end}}